.div1{
  position: relative;
  background-color: aquamarine;
  height: 500px;
  width: 500px;
  
}
.div2{
  position: absolute;
  background-color: bisque;
  height: 200px;
  width: 200px;
  right: 0%;
  z-index: 1;
    overflow: hidden;
}
li{
  display: inline;
  
}
#f{

}
