.main{
background-color: rgb(179, 166, 192);
height: 200px;
width: 500px;
/* border-width: 10px;
border-style: solid;
border-color: blue; */
border: 5px solid yellow;
border-radius: 20px;
/* padding-left: 20px;
padding-right: 2px;
padding-top: 3px; */
padding: 20px 30px 50px 60px;
margin-top: 50px;
margin-left: 50px;
margin-bottom: 100p;
margin-right: 300px;
}
*{
  padding: 0%;
  margin: 0%;
}
